.modalWrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.1);
    padding-top: 200px;
}

.modalContent {
    margin: 0 auto;
    width: 600px;
    background: #fff;
    padding: 20px;
}
